<% provide(:title, "Services") %>
<div class="col-xs-10 static-fishing">
  <div class="col-xs-6 video">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/W44znJwxnn8"></iframe>
    </div>
  </div>
  This a listing of services in the East Cape area.<br> 
    
</div>


<div class="col-xs-2 static-fishing-ad">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- responsive add dark pirate -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3264553769030878"
     data-ad-slot="2841820348"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

<div class="col-xs-10 fishing-directory">

<h1>Services</h1><br>


<% @service.each do |x| %>
  <b><%= x.biz_name %><br></b>
  <% if x.tel != "" %>
    <%= x.tel %><br>
  <% elsif x.tel2 != "" %>
    <%= x.tel2 %><br>
  <% end %>  
  <%= link_to  x.website, "http://#{x.website}", target: :_blank %> <%= x.email %><br>
  <%= x.description %>
  
  <% if (current_user && current_user.admin?) %>
    <br>
    <%= link_to 'Edit', edit_service_path(x) %>
    |
    <%= link_to 'Delete', service_path(x),
    method: :delete,
    data: { confirm: 'Are you sure?' } %>
  <% end %>
<br><br>
<% end %>
<h4>If you don't see what you are looking for,
 post a question on our forum and a local pirate will probably be able to answer it. </h4>
</div>