<%= link_to @news_homepage.url, target: :_blank do %>
  <div class="col-xs-12 col-sm-12 col-md-12 news_homepage">
    <%= @news_homepage.title %>
  </div>
<% end %>

<%= link_to @news_vm.url , target: :_blank do %>
  <div class="col-xs-12 col-sm-12 col-md-12 news_homepage">
    <%= @news_vm.title %>
  </div>
<% end %>

<%= link_to @rancho.url, target: :_blank do %>
  <div class="col-xs-12 col-sm-12 col-md-12 news_homepage">
    <%= "#{@rancho.date} " %>
    <%= @rancho.title %>
  </div>
<% end %>

