<% while @i < 3 do %>
  <% if @random == 0 %>
    <%= link_to @hb.url, target: :_blank do %>
      <div class="news_homepage">
        <b>Hotel Buena Vista Report</b> | <%= @hb.date %><br>
        <%= @hb.title %>
      </div>
    <% end %>
  <% elsif @random == 1 %>
    <%= link_to @vm.url, target: :_blank do %>
      <div class="news_homepage">
        <b>Hotel Las Palmas de Cortez</b> | <%= @vm.date %><br>
        <%= @vm.title %>
      </div>
    <% end %>
  <% elsif @random == 2 %>
    <% if @random_google_entry != nil %>
      <%= link_to @random_google_entry.url, target: :_blank do %>
        <div class="news_homepage">
          <b>Google News</b><br>
          <%= @random_google_entry.title %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <% if @random < 2 %>
    <% @random += 1 %>
  <% else %>
    <% @random = 0 %>
  <% end %>
  
  <% @i += 1 %>
<% end %>
