<div class="col-xs-10 static-fishing">
  <%= image_tag(('panorama.jpg'), class: "img-responsive img-rounded" ) %>
  The sport fishing in the Sea of Cortez is legendary.  Anglers come from around the world for the blue and striped marlin,
  sailfish, dorado, wahoo, yellowfin tuna, roosterfish and more. 
  Many excellent charter services are aviable for you once in a lifetime adventure or 
  try your luck in one of the numerous East Cape fishing tournaments held every year. 
</div>

<div class="col-xs-10 static-fishing-ad">
  
</div>

<div class="col-xs-10 fishing-directory">

<h4>Fishing Charters</h4>


<b>Awesome Sportfishing & Scenic Trips & Whale Watching</b><br>
624-14-10231; From the US 1-909-266-9707 
<%= link_to 'www.bajasawesomesportfishing.com', 'http://www.bajasawesomesportfishing.com' %> 
combertheresa@hotmail.com
<br>
<br>


<b>Congo's Fishing</b><br>
624-191-3746c  -  US 877-99-Congo  congosfishing@gmail.com  
<br>


<b>El Regalo - Scorpion Sportfishing</b><br>
(505)692 3590 scorpionsportfishing@gmail.com. 
<%= link_to 'www.scorpionsportfishing.com', 'http://www.scorpionsportfishing.com' %>
<br>
<br>


<b>Fly Fishing Gary Graham</b><br>
760-522-3710   aryg@gcg-co.com
<br>
<br>


<b>Fly Fishing-The Reel Baja-Jeff deBrown</b><br>
1-888-287-4076us, 141-0138  
<%= link_to 'www.thereelbaja.com', 'http://www.thereelbaja.com' %>
<br>
<br>



<b>Jen Wren Sportfishing – BV</b><br>
US 310 308 5841 or Mexican land line 624 141 0031
<%= link_to 'www.teamjenwren.com', 'http://www.teamjenwren.com' %>   
<br>
<br>



<b>Martin Verdugo – LB</b><br>
<%= link_to 'www.verdugosbeachresort.com', 'http://www.verdugosbeachresort.com' %>
<br>
<br>



<b>Marlintini Sportfishing – LB</b><br>
Marc Kane  562-252-1494v,  624-100-5254c, 
<%= link_to 'www.marlintinisportfishing.com', 'http://www.marlintinisportfishing.com' %>
<br>
<br>


<b>Hotel Los Pescadores & Sportfishing – LB</b><br>
 624 121 8786c   
 <%= link_to 'www.fisheastcape.com', 'http://www.fisheastcape.com' %>
 <br>
 <br>


<b>Pursuit Anglers</b><br>
Joshua Martz  817.709.5696us -  Josh@pursuitanglers.com   
<%= link_to 'www.PursuitAnglers.com',  'http://www.PursuitAnglers.com' %>
<br>
<br>


<b>Trophy Fly Fishing –CP</b><br>
<%= link_to 'www.trophyflyfishing.com', 'http://www.trophyflyfishing.com' %>  bajawill@gmail.com 
<br>
<br>


</div>    






