<% provide(:title, "Pirate's Cove") %>
<% if flash[:success] %>
    <div class="alert alert-success"><%= flash[:success] %></div>
<% end %>

<div class="col-xs-2 ads-homepage col-xs-push-10">
    <!--add right-->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- responsive add dark pirate -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3264553769030878"
     data-ad-slot="2841820348"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

</div>

<div class="col-xs-10 static-pic col-xs-pull-2">
        <div class="col-xs-6 video">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/R8YwmHoyzvQ"></iframe>
            </div>
        </div>


    <div class="col-xs-6 video">
        <div class="embed-responsive embed-responsive-16by9">
            <!--<iframe class="embed-responsive-item" src="<%# @image_iframe %>"></iframe>-->
            <%= image_tag("#{@image_iframe}") %>
        </div>
            <p class="static_text">
                East Cape World class Fishing and World class Wind!<br>
                This adventure playground is nestled against the pristine views of the Sea of Cortez.<br>
                You know that beer commercial of people sitting under a palapa on a deserted beach?<br>
                Come find your muse while burying your toes in warm sand and surf!<br>
                That's East Cape!
            </p>
    </div>
</div>

<div class="col-xs-5 forum-homepage col-xs-pull-2">
    <h4><b><%= link_to "Newest Posts", forums_path %></b></h4>
    <%= render 'forums/forum_homepage' %>
</div>

<div class="col-xs-5 news-homepage col-xs-pull-2">
    <div class="news-thome">
    <h4><b><%= link_to "News!", news_path %></b></h4>
    </div>
    <%= render 'static_pages/news_homepage' %>
</div>

<div class="col-xs-12 bottom">
    <!--add bottom-->

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- responsive add dark pirate -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3264553769030878"
     data-ad-slot="2841820348"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
