<h5>Hotel Buena Vista Report</h5>
<%= link_to "#{@titlehb}", @linkhb.url %><br>
<%= News.last.date %><br>
<br>
<h5>Hotel Las Palmas de Cortez</h5>
<%= link_to "#{@titlevm}", @linkvm.url %><br>
<%= @datevm %>
<br>
<br>
<h5>Rancho</h5>
<%= link_to "#{@date_rancho}", @url_rancho %><br>
<%= @title_rancho %>
<br>
<br>
<h5>Google News</h5>
<% @title_google.each do |x| %>
<%# if x.created_at >= 40.minutes.ago %>
<%= link_to "#{x.title}", x.url %><br>
<%= x.id %><br>
<br>
<%# end %>
<% end %>
<br>
<h5>Pete</h5>
<%= link_to "#{@title_pete}", @url_pete %><br>
<%= @date_pete %>
<br>
<h5>Wunderground</h5>
<%= link_to "#{@title_wunder}", @url_wunder %><br>
