<% provide(:title, "News") %>
<div class="col-xs-10 static-news">
  <b>Hotel Buena Vista Report</b><br>
  <%= link_to "#{@titlehb}", @linkhb.url, target: :_blank %><br>
  <%= @newsdate %><br>
  <br>

  <b>Hotel Las Palmas de Cortez</b><br>
  <%= link_to "#{@titlevm}", @linkvm.url, target: :_blank %><br>
  <%= @datevm %>
  <br>
  <br>

  <b>Google News</b><br>
  <% @title_google.each do |x| %>
    <%= link_to "#{x.title}", x.url, target: :_blank %><br>
  <% end %>
  <br>

<div class="col-xs-2">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- responsive add dark pirate -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3264553769030878"
     data-ad-slot="2841820348"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
