<div class="col-md-12 forum-title-post">
  <div class="forum-show-title">
    <%= @forum.title %><br>
  </div>

  <div>
    posted by:
    <% if @forum.user_id.nil? %>
      Visitor
    <% else %>
      <%= User.find(@forum.user_id).username %>
    <% end %>
    <br />
  </div>
</div>
 
<div class="forum-postby col-md-12">
  <%= @forum.post %>

  <% if ((current_user != nil) && (current_user == @forum.user))  || (current_user && current_user.admin?) %>
  <br>
    <%= link_to 'Edit', edit_forum_path(@forum.id) %>
    |
    <%= link_to 'Delete', @forum,
    method: :delete,
    data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>          