<div class="forum-homepage center-block">
    <%= forum_hompage.title %><br>
    <%= forum_hompage.post %><br>
    <br>
    <%= forum_hompage1.title %><br>
    <%= forum_hompage1.post %><br>
    <br>
    <%= forum_hompage2.title %><br>
    <%= forum_hompage2.post %><br>
    <br>
</div>