<% provide(:title, "Forum Posts") %>

<% if flash[:success] %>
    <div class="alert-success"><%= flash[:success] %></div>
<% end %>

<h1 id="listing">East Cape Billboard</h1>
<div class ="table-responsive">
<table class="table table-hover">
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th><%= link_to "New Post", new_forum_path %></th>
  </tr>
 
  <% @forums.each do |forum| %>
    <tr>
      <td><%= link_to forum.title, forum_path(forum) %></td>
      <td><%= link_to forum.post, forum_path(forum) %></td>
      <td class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" %><em>Actions</em><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% if current_user && current_user.admin? %>
            <li><%= link_to 'Edit', edit_forum_path(forum) %></li>
            <li><%= link_to 'Destroy', forum_path(forum),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
            </li>
            <% end %>
          </ul>
      </td>
    </tr>
  <% end %>
</table>
</div>