<% provide(:title, "Forum Posts") %>

<% if flash[:success] %>
    <div class="alert-success"><%= flash[:success] %></div>
<% end %>

<div class="col-xs-2 col-xs-push-10 forum-adsr">
  <!--ads right-->
  
</div>

<div class="col-xs-10 col-xs-pull-2">
  <h2>East Cape's Pirate Cove</h2>
</div>

<div class="col-xs-10 col-xs-pull-2 forum-index-box">
<%= link_to new_forum_path do %>
  <div class="col-xs-3 btn btn-lg btn-primary" id="new-post"><h4>Create New Post</h4></div>
<% end %>

<% @forums.each do |forum| %>
  <div class="forum-index col-xs-6 center-box">
    <%= link_to forum_path(forum) do %>
      <div class="posts-title col-xs-12 center-box">
        <b><%= forum.title %></b><br>
        <span class="date-index"><%= forum.created_at.to_s(:short) %>
        <div>
        posted by:
          <% if forum.user_id.nil? %>
            Visitor
          <% else %>
            <%= User.find(forum.user_id).username %>
          <% end %>
        </span>
        </div>
      </div>
    <% end %>

    <%= link_to forum_path(forum) do %>
      <div class="body-post col-xs-12">
        <%= forum.post %>
      </div>
    <% end %>
    
  </div>
<% end %>
  
<div class="col-xs-10">
  <%= will_paginate %>
</div>

</div>