
<% provide(:title, "Post") %>

<% if flash[:success] %>
    <div class="alert-success"><%= flash[:success] %></div>
<% end %>

<div>
posted by:
<% if @forum.user_id.nil? %>
Anonymous
<% else %>
<%= User.find(@forum.user_id).username %>
<% end %>
<br />
</div>

<%= render 'forums/forum_post' %>
<br>
<h2>Comments:</h2>

<%= render @forum.comments %>
<br>

<h2>Add a comment:</h2>

<%= render 'comments/comment_form' %>