<% provide(:title, "Real Estate") %>
<div class="col-xs-10 static-fishing">
  <div class="col-xs-6 video">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/R8YwmHoyzvQ"></iframe>
        </div>
  </div>
  East Cape is the adventure capital of Baja Sur, with its sport fishing, kiteboarding, off-roading, mountain biking and more, it is no surprise that East Cape's Real Estate is hot.  
</div>

<div class="col-xs-2 static-fishing-ad">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- responsive add dark pirate -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3264553769030878"
     data-ad-slot="2841820348"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>  
</div>

<div class="col-xs-10 fishing-directory">

<h1>Real Estate</h1><br>


<% @realestate.each do |x| %>
  <b><%= x.biz_name %><br></b>
  <% if x.tel != "" %>
    <%= x.tel %><br>
  <% elsif x.tel2 != "" %>
    <%= x.tel2 %><br>
  <% end %>  
  <%= link_to  x.website, "http://#{x.website}", target: :_blank %> <%= x.email %><br>
  <%= x.description %>
  
  <% if (current_user && current_user.admin?) %>
    <br>
    <%= link_to 'Edit', edit_realestate_path(x) %>
    |
    <%= link_to 'Delete', realestate_path(x),
    method: :delete,
    data: { confirm: 'Are you sure?' } %>
  <% end %>
<br><br>
<% end %>

</div>