<% provide(:title, "Activites") %>

<div class="col-xs-10 static-fishing"><br>
  <div class="col-md-6 video">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cHr2x7qi3Bg"></iframe>
        </div>
  </div>
  East Cape is the adventure capital of Baja Sur, with its sport fishing, kiteboarding, 
  off-roading, mountain biking and more, it is the Moab of Baja
</div>

<div class="col-xs-10 static-fishing-ad">
  
</div>

<div class="col-xs-10 activity-directory">

<h1>Other Activities</h1><br>


<% @activity.each do |x| %>
  <b><%= x.biz_name %><br></b>
  <% if x.tel != "" %>
    <%= x.tel %><br>
  <% elsif x.tel2 != "" %>
    <%= x.tel2 %><br>
  <% end %>   
  <%= link_to  x.website, "http://#{x.website}", target: :_blank %> <%= x.email %><br>
  <%= x.description %>
  
  <% if (current_user && current_user.admin?) %>
    <br>
    <%= link_to 'Edit', edit_activity_path(x) %>
    |
    <%= link_to 'Delete', activity_path(x),
    method: :delete,
    data: { confirm: 'Are you sure?' } %>
  <% end %>
<br><br>
<% end %>

</div>