<div class="col-xs-10 static-fishing">
  <%= image_tag(('panorama.jpg'), class: "img-responsive img-rounded" ) %>
  The sport fishing in the Sea of Cortez is legendary.  Anglers come from around the world for the blue and striped marlin,
  sailfish, dorado, wahoo, yellowfin tuna, roosterfish and more. 
  Many excellent charter services are aviable for you once in a lifetime adventure or 
  try your luck in one of the numerous East Cape fishing tournaments held every year. 
</div>

<div class="col-xs-10 static-fishing-ad">
  
</div>

<div class="col-xs-10 fishing-directory">

<h3>Fishing Charters</h3><br>


<% @fishing.each do |x| %>
  <b><%= x.biz_name %><br></b>
  <% if x.tel != "" %>
    <%= x.tel %><br>
  <% elsif x.tel2 != "" %>
    <%= x.tel2 %><br>
  <% end %>  
  <%= link_to  x.website, "http://#{x.website}", target: :_blank %> <%= x.email %><br>
  <%= x.description %>
  
  <% if (current_user && current_user.admin?) %>
    <br>
    <%= link_to 'Edit', edit_fishing_path(x) %>
    |
    <%= link_to 'Delete', fishing_path(x),
    method: :delete,
    data: { confirm: 'Are you sure?' } %>
  <% end %>
<br><br>
<% end %>

</div>