<footer class="header">
   <% # nav bar/ login#out/ advertise?/ about? , here %>
   <% if current_user %>
   <li class="nav nav-tabs" id="navlistleft"><h4><b>User:</b><%= " " + current_user.username %></h4></li>
   <% end %>
   <ul class="nav nav-tabs" id="navlist">
     <li><%= link_to "Home", root_path %></li>
     <li><%= link_to "Advertise", advertise_path %></li>
     <li><%= link_to "Contact", contact_path %></li>
     
     <% if session[:user_id].nil? %>
     <li><%= link_to "Login", new_session_path %></li>
     <li><%= link_to "Signup", new_user_path %></li>
     <% else %>
     <li><%= link_to "Log out", logout_path, method: :delete,
                                         data: { confirm: "Are you sure?" } %>
     </li>
     <% end %>
   </ul>   
</footer>
