<!DOCTYPE html>
<html>
<head>
  <title>
    <%= full_title(yield(:title)) %>
  </title>
  <% unless @meta_description == nil %>
  <meta content="<%= @meta_description %>" />
  <% end %>

  <% unless @meta_tag == nil %>
  <meta name="robots" content="<%= @meta_tag %>" />
  <% end %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<div class="container-fluid">
  <%= yield %>
</div>

<div id="hidden">
<%= render 'layouts/stats' %>
</div>

</body>

</html>
